{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/162ff428c2.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
</head>
<body>
    <!-- Section: Header -->
    <header class="main-header">
        <nav class="transparent">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Quazzu</a>
                    <a href="" data-activates="mobile-nav" class="button-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                    <ul class="right hide-on-med-down">
                        <li><a class="active-link" href="{% url 'app:index' %}">Home</a></li>
                        <li><a href="{% url 'app:solutions' %}">Solutions</a></li>
                        <li><a href="{% url 'app:signup' %}">Sign Up</a></li>
                        <li><a href="#" class="btn waves-effect waves-light purple white-text">Login</a></li>
                        <li>
                            <a href="https://facebook.com" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Sidenav -->
                    <ul id="mobile-nav" class="side-nave">
                        <h4 class="purple-text text-darken-4 center">
                            Quazzu
                        </h4>
                        <li><div class="divider"></div></li>
                        <li><a href="{% url 'app:index' %}"><i class="fa fa-home grey-text text-darken-4"></i>Home</a></li>
                        <li><a href="{% url 'app:solutions' %}"><i class="fa fa-cog grey-text text-darken-4"></i>Solutions</a></li>
                        <li><a href="{% url 'app:signup' %}"><i class="fa fa-users grey-text text-darken-4"></i>Sign Up</a></li>
                        <li><div class="divider"></div></li>
                        <li><a href="#" class="btn waves-effect waves-light purple">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Section: Showcase -->
        <div class="showcase container">
            <div class="row">
                <div class="col s12 m10 offset-m1 center">
                    <h5>Welcome to Quazzu</h5>
                    <h1>Build For The Future</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur atque impedit laborum,
                        nulla perferendis veniam.
                    </p>
                    <br><br>
                    <a href="{% url 'app:solutions' %}" class="btn waves-effect waves-light btn-large white purple-text">Learn More</a>
                    <a href="{% url 'app:signup' %}" class="btn waves-effect waves-purple btn-large purple white-text">Sign Up</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Section: Icon Boxes -->
    <section class="section section-icons center">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel">
                        <i class="fa fa-user fa-3x deep-purple-text text-darken-2"></i>
                        <h5 class="grey-text text-darken-4">Free Acount</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, tempora.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel">
                        <i class="fa fa-database fa-3x deep-purple-text text-darken-2"></i>
                        <h5 class="grey-text text-darken-4">PostgreSQL Databases</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, tempora.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel">
                        <i class="fa fa-bolt fa-3x deep-purple-text text-darken-2"></i>
                        <h5 class="grey-text text-darken-4">Fast Connect</h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, tempora.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section class="section section-about grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h3><span class="deep-purple-text text-darken-1">About</span> Us</h3>
                    <p class="flow-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate dolore enim
                        explicabo, fuga nisi odit praesentium repellat sint tempora!
                    </p>
                </div>
                <div class="col s12 m6">
                    <img src="{% static 'images/tech.jpg' %}" alt="" class="circle responsive-img">
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Developers -->
    <section class="section section-developers white-text">
        <div class="primary-overlay valign-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        <h3>For Developers, by Developers</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  Section: Languages -->
    <section class="section section-language grey lighten-4">
        <div class="container">
            <div class="row">
                <h4 class="center">Techs <span class="deep-purple-text text-darken-1">We Work With</span></h4>
                <br><br>
                <div class="row">
                    <div class="col s2">
                        <img src="{% static 'images/python-logo.png' %}" class="responsive-img" alt="">
                    </div>
                    <div class="col s2">
                        <img src="{% static 'images/postgresql2.png' %}" class="responsive-img" alt="">
                    </div>
                    <div class="col s2">
                        <img src="{% static 'images/node2.png' %}" class="responsive-img" alt="">
                    </div>
                    <div class="col s2">
                        <img src="{% static 'images/django.png' %}" class="responsive-img" alt="">
                    </div>
                    <div class="col s2">
                        <img src="{% static 'images/mongodb.png' %}" class="responsive-img" alt="">
                    </div>
                    <div class="col s2">
                        <img src="{% static 'images/react.png' %}" class="responsive-img" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Podcast -->
    <section class="section section-podcast white-text">
        <div class="primary-overlay valign-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col s12 m8">
                        <h4>Listen to the JDEVS Podcast</h4>
                        <p>Every Thursday at 5pm EST</p>
                    </div>
                    <div class="col s12 m4">
                        <a href="" class="btn purple btn-large" style="margin-top: 10px">
                            <i class="fa fa-podcast"></i>
                            Listen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Testimonial -->
    <section class="section section-testimonial grey lighten-4">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="carousel carousel-slider center">
                        <div class="carousel-item" href="#one!">
                            <h2>Testimonial 1</h2>
                            <p class="flow-text">
                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid
                                aperiam atque deserunt dolore error excepturi fugit id, in labore, maxime molestiae
                                numquam quasi soluta tenetur! Beatae laborum libero sequi!"
                                <em>- John Dow from NASA</em>
                            </p>
                            <div class="carousel-fixed-item center hide-on-small-and-down">
                                <a href="" class="btn grey">Read More</a>
                            </div>
                        </div>
                        <div class="carousel-item" href="#two!">
                            <h2>Testimonial 2</h2>
                            <p class="flow-text">
                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid
                                aperiam atque deserunt dolore error excepturi fugit id, in labore, maxime molestiae
                                numquam quasi soluta tenetur! Beatae laborum libero sequi!"
                                <em>- Linus Torvalds from The Linux Foundation</em>
                            </p>
                            <div class="carousel-fixed-item center hide-on-small-and-down">
                                <a href="" class="btn grey">Read More</a>
                            </div>
                        </div>
                        <div class="carousel-item" href="#three!">
                            <h2>Testimonial 3</h2>
                            <p class="flow-text">
                                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid
                                aperiam atque deserunt dolore error excepturi fugit id, in labore, maxime molestiae
                                numquam quasi soluta tenetur! Beatae laborum libero sequi!"
                                <em>- Elon Musk from Tesla Inc.</em>
                            </p>
                            <div class="carousel-fixed-item center hide-on-small-and-down">
                                <a href="" class="btn grey">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
            $('.button-collapse').sideNav();
        })
    </script>
</body>
</html>